.task-row-wrapper  {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 50vh;
  width: 80vw;
  margin: auto;
}


.tasks-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 20vh;
  width: 35vw;
  background: lightsteelblue;
  border-radius: 6px;
  border: 2px solid black;
}

.column-heading {
  margin: auto;
}

li {
  list-style: none;
  margin: auto;
}

.dropbtn {
  padding: 4px;
  border: 2px solid black;
  border-radius: 8px;
}

.dropdown {
  display: inline-block;
  position: relative;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(212, 209, 209, 0.589);
  z-index: 1;
}

.dropdown-content p {
  padding: 15px;
  border-radius: 3px;
  display: block;
}

.dropdown:hover .dropdown-content {display: block};
